body{
	padding: 70px;
}
header,footer,nav,div,section,aside,article{
	border-radius: 5px;
}
a,a:hover{
	text-decoration: none;
}
.divContent{
	min-height: 350px;
}
.demo{
	
}
/*.jumbotron{
	background-color: #fdfdfd;
}*/







